<% if logged_in? %>
<h1>最近の発注</h1>
<section>
  <%= render 'orders/orders', orders: @orders %>
</section>
<% else %>
  <h1>ログインしてください</h1>
  <%= link_to 'ログイン', login_path, class: 'btn btn-primary' %>
<% end %>