<h1>課題(2017/11/17更新)</h1>
<h2>line_itemsの数量を数値のセレクトボックスにしたい</h2>
<p>path : /projects/:id/orders/new<br />
  file : /views/orders/_line_item_fields/erb</p>
<h2>小計・合計の計算はどのようにするのが良いか</h2>
<p>helperに計算式のメソッドを追加して、viewでメソッドを使って計算するのか、controllerで計算して、viewで表示するのか</p>
<h2>Orderオブジェクトコピーの際にline_itemsがコピーされない</h2>