  <% if order_lists.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <% if current_user.root %>
              <th>ID</th>
            <% end %>
            <th>オーダーリスト名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% order_lists.each do |order_list| %>
          <tr>
            <% if current_user.root %>
              <td><%= order_list.id %></td>
            <% end %>
            <td><%= order_list.name %></td>
            <td>
              <%= link_to '詳細', order_list_path(order_list), class: 'btn btn-secondary' %>
              <%= link_to '編集', edit_order_list_path(order_list), class: 'btn btn-warning' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <p>発注はありません</p>
  <% end %>