/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 */
 
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';
@import 'font-awesome';


body {
  padding-top: 3.5rem;
}

section{
  margin-bottom: 2rem;
}

hr{
  margin-bottom: 2rem;
}

// .btn{
// margin-left: 10px;
// margin-right: 10px;
// }

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

h2 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*
 * Layout
 */
.tAR{
  text-align: right;
}

.logo{
 text-align: right; 
}

.light-blue{
  background: #00b8e6 !important;
  border-color: #00b8e6 !important;
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* error */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors .form-control{
  border-color: #f00000;
}

/* kaminari */
.pagination .page, .pagination .next, .pagination .last, .pagination .first, .pagination .prev{
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  width: 40px;
  padding: 5px 0;
  text-align: center;
  margin-right: 10px;
}

.pagination .next, .pagination .last, .pagination .first, .pagination .prev{
  width: 80px;
}

.pagination .page a{
  display: block;
}

.add-btn{
  margin-bottom: 20px;
}