<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <% if current_page?(root_path) %>
      <a class="nav-link active" href="/">HOME</a>
      <% else %>
      <a class="nav-link" href="/">HOME</a>
      <% end %>
    </li>
    <%= sidebar_list_items() %>
  </ul>
</nav>