<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>発注書</title>
    <%= csrf_meta_tags %>
    
    <%#= wicked_pdf_stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= wicked_pdf_javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
<style>
.clear{ clear: both; }
.clearfix{ zoom: 1; }
.clearfix:after{ content: ""; display: table; clear: both; }

html {
  font-family: 'IPAexゴシック', 'IPA Pゴシック', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'MS Pゴシック', sans-serif;
}

body{
  font-size: 13px
}

table{
  border-spacing: 0;
  border-collapse: collapse;
}

h1{
  text-align: center;
  border-bottom: 3px double #333;
  padding: 0 0 12px 0;
  margin-bottom: 40px;
}

#documentWrap{
  position: relative;
  min-height: 840px;
}

#documentHeaderWrap{
  margin-bottom: 30px;
}

#documentHeaderLeft{
  float: left;
  width: 40%;
}

#documentHeaderLeft tr th{
  border: 1px solid #666;
  padding: 6px 8px;
  text-align: left;
  font-weight: normal;
}

#documentHeaderLeft tr td{
  border: 1px solid #666;
  padding: 6px 8px;
  text-align: right;
}

#documentHeaderRight{
  float: right;
  width: 50%;
}

#documentHeaderRight tr td{
  padding: 0 0 0 20px;
}

#documentHeaderRight tr:first-child td{
  padding: 0;
}

#partnerTable{
  margin-bottom: 30px;
  width: 40%;
}

#partnerTable tr th{
  text-align: left;
  font-weight: normal;
  padding: 4px 8px;
}

#partnerTable tr td{
  text-align: right;
  padding: 4px 8px;
}

#orderDetail{
  width: 100%;
  margin-bottom: 30px;
}

#orderDetail tr th{
  padding: 4px 8px;
  border: 1px solid #666;
  background: #ccc;
}

#orderDetail tr td{
  padding: 4px 8px;
  border: 1px solid #666;
}

#documentFooterLeft{
  width: 50%;
  float: left
}

#documentFooterLeft tr th{
  padding: 4px 8px;
  border: 1px solid #666;
  text-align: left;
}

#documentFooterLeft tr td{
  padding: 4px 8px;
  border: 1px solid #666;
}

#documentFooterRight{
  width: 40%;
  float: right;
}

#documentFooterRight tr th{
  padding: 4px 8px;
  border: 1px solid #666;
  text-align: left;
}

#documentFooterRight tr td{
  padding: 4px 8px;
  border: 1px solid #666;
  text-align: right;
}

#documentStamp{
  clear: both;
  position: absolute;
  bottom: -90px;
  right: 0;
}

#documentStamp tr td{
  border: 1px solid #666;
  padding: 30px;
}

.sw_logo_pdf{
  width: 300px;
  height: auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #0f3083;
}



</style>
    
  </head>

  <body>
    <%= yield %>
  </body>
  
</html>
